/* @@author Sebastian Quek */

#root {
	-fx-padding: 10px;
	-fx-background-color: white;
}

#fileStats {
	-fx-background-color: white;
}

#fileStats .list-cell {
	-fx-background-color: white;
}

#fileStats .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding: -7;
}

#fileStats .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-padding: -7;
}

.fileStatsItem {
	-fx-padding: 5px;
}

.cardBg {
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 2);
}

.card {
	-fx-padding: 14px;
	-fx-background-color: rgb(255,255,255);
}

.card .text {
	-fx-padding: 0 0 0 16px;
}

.card .filename {
	-fx-font-size: 16px;
	-fx-font-weight: bold;
}

.card .linesOfCode {
	-fx-font-size: 14px;
}

.card .circle {
	-fx-fill: #46ff1f;
	-fx-stroke: #dddddd;
	-fx-stroke-width: 0.8;
}

.card .percentage {
	-fx-font-size: 18px;
	-fx-stroke-width: 0;
}